/* 폰트 설정 */
@font-face {
    src : url("./../fonts/amazonEmber.ttf");
    font-family: "amazon-font"
}

/* 전 지역에서 통용되는 호버이펙트 설정 */
.hovereffect:hover{
	border: white 1px solid; 
	text-decoration: none;
}

.hovereffect{
	text-decoration: none;
}

.hovereffect2:hover{
	color:#B77A1C;
	text-decoration: none;
}

.hovereffect3:hover{
	content: "Sign in Amazon!";

}

/* 인쇄를 누르면 흑백으로 */
@media print {
    body {
        background-color: beige;
    }
    h1 {
        color: black
    }
}


body{
	background-color: #EAEDED;
	font-family: "amazon-font"
}

/* 헤더 */
header{
	overflow: hidden;
	font-family: "amazon-font";
}


/* 헤더의 상단 */
.top_box {
	width: 100%;
	height: 43px;
	float: left;
	background-color: #131921;
	font : white;
	margin: 0 auto;
}

#logo{
	display: inline-block;
	vertical-align: middle;
}

#logoImage{
	margin-left: 10px;
	margin-top: -10px;
	width: 90px;
	height: 35px;
}

#location{
	margin-left: -10px;
	display: inline-block;
}

#locationImage{
	margin-top: -10px;
	transform: scale(0.6, 0.6);
	width:22;
	height:30;
	vertical-align:middle;
}

#delivery_section_in_header{
	display: inline-block;
	margin-top: 13px;
}

#delivery{
	display: inline-block;
	position: relative;
	font-size: 3px;
	line-height: 120%;
	margin-top: -10px;
}

#searchbox{
	margin-top: -33px;
	transform: scale(0.7, 0.7);
	position: relative;
	margin-left: 140px;
}

.input-group{
	width:5px;
}

.input-group-addon {
	padding: 0!important;
}

#input-group-addon-select{
	width: 62px;
}

#input-group-addon-button{
	width: 20px;
	height:20px;
}

#checkbox_form{
	width: 120px;
}

#rightalign{
	transform: scale(0.95,0.95);
	position: absolute;
	right: -5px;
	overflow: hidden;
}

#language{
	display: inline-block;
	z-index: 9999;
	margin-top: -30px;
	margin-left: 0px;
	transform: scale(0.5, 0.5);
	display: inline-block;
}

#language-form{
	margin-left: -30px;
	display: inline-block;
}

#language-image{
	margin-left: -15px;
	width: 30px;
	height: 30px;
}

#language-select{
	margin-top: 25px;
	margin-left: -15px;
	width:20px
}

#whereto{
	margin: 1px;
	transform: scale(0.8, 0.7);
	display: inline-block;
}

#returnsAndOrders{
	transform: scale(0.8, 0.7);
	margin: 1px;
	display: inline-block
}

#carts{
	transform: scale(0.8, 0.7);
	margin: -10px;
	display: inline-block
}

#cart-image{
	transform: scale(0.7, 0.7);
	vertical-align:middle;
	width: 30;
	height: 30;
	margin-top: -20px;
}


/* 헤더의 하단 */
.bottom_box {
	margin-top: -22px;
	top:-50px;
	height: 35px;
	font : white;
	background: #232F3E;
	font-size: 15px;
}

#sidebar{
	margin-top: 2px;
	position: absolute;
	text-decoration-line: none;
	margin-left: 17px;
	display:inline-block;
}

.sidenav {
	margin-top: -70px;
	margin-left: -40px;
	transform: scale(0.7, 0.7);
	color: black;
	list-style:none;
	height: 80%;
	width: 0;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	background-color: white;
	overflow: hidden;
	transition: 0.5s;
	padding-top: 30px;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	color: black;
}

li {
	list-style: none;
	padding: 2px 2px 2px 25px;
	text-decoration: none;
	font-size: 13px;
	color: black;
	display: block;
}

.menu a{
	text-decoration: none;
	color: black;
	cursor:pointer;
	font-size: 16px;
}

.menu .hide{
	display:none;
}
.menu-sign-in{
	font-size: 20px;
	background-color: #232F3E;
	color: white;
	height: 80px;
	margin-top: -50px;
}

#menu-sign-in-2{
	margin-left: 35px;
	line-height: 270%;
}

.sidebar-hr-margin{
	margin-left: 200px;
}

#sidebar-span{
	font-size: 15px;
	cursor:pointer
}

.menu-title{
	font-size: 17px;
}

.menu{
	list-style: none;
}

#notsideBar{
	transform: scale(0.8, 0.8);
	margin-left: -15px;
	padding-top: 3px;
}

select {
	background: transparent;
	border: none;
	padding: 6px 12px;
}

button {
	padding: 6px 12px;
	background: transparent;
	border: none;
}

#amazonsResponse{
	margin-right: -60px;
	float: right;
	text-align: center;
}

/* 회원가입 탭에 마우스오버시 숨겨졌던 div 등장 */

#hidden_div{
	position: absolute;
	z-index:2;
	display:none;
	margin-left: 850px;
	margin-top: -32px;
}

#hidden_div_lower_level{
	text-align: center;
	border-radius: 5px;
	width: 500px;
	height: 350px;
	background:white;
	font: black;
}

#hidden_div_button{
	background-color: #F0C454;
	border-radius: 3px;
	width: 270px;
	margin-top: 20px;
}

#hidden_div_button_a{
	color: black;
	text-decoration: none;
}

#hidden_div_lower_level_left{
	float: left;
	margin-left: 30px;
}

#hidden_div_lower_level_right{
	float: right;
	margin-right: 30px;
}


.hidden_div_lower_level_font{
	font-size: 3px;
}

#hidden_div_language{
	position: absolute;
	z-index:2;
	display:none;
	margin-left: 1150px;
	margin-top: -32px;
}

#hidden_div_language_lower_level{
	padding-left: 10px;
	padding-top: 20px;
	border-radius: 5px;
	width: 250px;
	height: 500px;
	background:white;
	font: black;
	font-size: 15px;
	border: 1px;
}

.hidden_language_font{
	color: #405096;
	font-size: 11px;
}

.hidden_language_font_2{
	color: #405096;
	font-size: 12px;
}

#us_logo{
	width:30px;
	height:30px;
	margin-left: -10px
}

.hidden_language_font_3{
	color: rgb(59, 59, 117);
}

/* 레이아웃*/


/* SECTION 01 */
.section01{
	font-family: "amazon-font";
	margin-top: -40px;
	margin-bottom: -50px;
	margin-left: -435px;
}

.swiper-container {
	transform: scale(0.43, 0.5);
	width: 600px;
	height:400px;
}

#swiper-wrapper{
	background-color: white;
}

.swiper-slide {
	text-align:center;
	display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
	align-items:center; /* 위아래 기준 중앙정렬 */
	justify-content:center; /* 좌우 기준 중앙정렬 */
}
.swiper-slide img {
	box-shadow:0 0 5px #555;
}

.swiper-container1 {
	padding: 10px;
	align-items:center;
	width: 900px;
	height: 150px;
}



/* SECTION 02 */


.section02{
	padding-left: -220px;
	font-family: "amazon-font";
	overflow: hidden;
	font: black;
	background-color: #EAEDED;
	flex: 1;
	float: left;
}

#sec02box01, #sec02box02, #sec02box03, #sec02box05, #sec02box06, #sec02box07, #sec04box01, #sec02box08{
	transform: scale(0.8, 0.8);
	margin-right: -40px;
	width: 250px;
	height: 375px;
	text-align: middle;
	border: 1px;
	background: white;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 20px;
	border: 10px;
	float: left;
	overflow: hidden;
}

.section02-image{
	transform: scale(0.6, 0.6);
	margin-left: -30px;
	margin-top: -30px;
	margin-bottom: -20px;
	width: 280px;
	height: 330px;
}

.section02-image-02{
	width: 140px;
	height: 130px;
}

#sec02box07{
	transform: scale(0.6, 0.6);
	width: 340px;
	height: 330px; 
	float: left;
	overflow: hidden;
}

.section02-image{
	width: 280px;
	height: 330px;
}

.section02-image-02{
	transform: scale(0.5, 0.5);
	width: 115px;
	height: 130px;
}

#sec02box04-01{
	transform: scale(0.6, 0.6);
	border: 1px;
	background: white;
	padding-right: -10px;
	padding-left: -10px;
	padding-top: 20px;
	margin-left: -35px;
	margin-right: -65px;
	text-align: center;
	float: left;
	border: 1px;
	width: 320px;
	height: 170px;
}

#sec02box04-01-button{
	transform: scale(0.6, 0.6);
	background-color: #F0C454;
	border-radius: 20px;
	width: 270px;
}

#sec02box04-02-image{
	transform: scale(0.6, 0.6);
	width: 250px;
	height: 255px;
	float: left;
	margin-left: -217px;
	margin-top: 100px;
	margin-right: -50px;
}

#sec02box05, #sec02box06, #sec02box0701, #sec02box0702, #sec02box0703, #sec02box0704, #sec02box08{
	border: 10px;
	float: left;
}

#sec02box07{
	transform: scale(0.8, 0.8);
	width: 250px;
	height: 375px;
	text-align: middle;
	border: 1px;
	background: white;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 20px;
	border: 10px;
	overflow: hidden;
	float: left;
}


#sec02box08{
	transform: scale(0.8, 0.8);
	border: 10px;
	float: left;
}

#sec02box08-image{
	transform: scale(0.6, 0.6);
	width: 250px;
	height: 255px;
	float: left;
}

#sec02box0701, #sec02box0702, #sec02box0703, #sec02box0704, #sec04box0101, #sec04box0102, #sec04box0103, #sec04box0104{
	text-align: middle;
	border: 1px;
	margin: 0px;
	background: white;
	
}






a{
	text-decoration: none;
}


/* SECTION 03 */

#section03{
	font-family: "amazon-font";
	margin-top: 900px;
	margin-left: -123px;
	margin-bottom: 150px;
	transform: scale(0.7, 0.7);
}

.swiper-container2{
	overflow: hidden;
	position: absolute;
}

#ama01{
	width:230px;
	height: 230px;
	margin-left: -1000px;
	box-shadow: none;
}

#ama02{
	width:230px;
	height: 230px;
	margin-left: -950px;
	box-shadow: none;
}

#ama03{
	width:230px;
	height: 230px;
	margin-left: -900px;
	box-shadow: none;
}

#ama04{
	width:230px;
	height: 230px;
	margin-left: -850px;
	box-shadow: none;
}

#ama05{
	width:230px;
	height: 230px;
	margin-left: -800px;
	box-shadow: none;
}

#ama06{
	width:230px;
	height: 230px;
	margin-left: -750px;
	box-shadow: none;
}


/* SECTION 04 */


.section04{
	font-family: "amazon-font";
	font: black;
	background-color: #EAEDED;
	flex: 1;;
	float: left;
}

.section04-basic-setting{
	transform: scale(0.8, 0.8);
	border: 1px;
	float: left;
}

#sec04box01{
	margin-top: -645px;
	margin-left: 382px;
	margin-right: -45px;
	padding-top: 80px;
	transform: scale(0.6, 0.62);
	width: 340px;
	height: 370px; 
	float: left;
	overflow: hidden;
	padding-bottom: 400px;
}

.section04-basic-setting{
	transform: scale(0.8, 0.8);
	border: 1px;
	float: left;
}

.sec04-box04-image{
	margin-left: 35px;
	width: 115px;
	height: 130px;
}

.sec04-box04-image02{
	transform: scale(0.8, 0.8);
	width: 230px;
	height: 270px;
}

#sec04box02, #sec04box03{
	transform: scale(0.8, 0.8);
	width: 250px;
	height: 375px;
	text-align: middle;
	border: 1px;
	background: white;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 20px;
	border: 10px;
	float: left;
	overflow: hidden;
}

#sec04box03{
	margin-left: -30px;
}

#sec04box04{
	margin-top: -372px;
	margin-left: 437px;
	transform: scale(0.8, 0.8);
	width: 250px;
	height: 375px;
	text-align: middle;
	border: 1px;
	background: white;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 20px;
	border: 10px;
	float: left;
	overflow: hidden;
}


/* FOOTER */


/* SECTION01 */


#footer{
	width: 750px;
	overflow: hidden;
	text-align: center;
	background-color: #232F3E;
	font-family: "amazon-font"
}

#backToTop{
	width: 750px;
	background-color: #485769;
	text-align:center;
	padding-top: 20px;
	padding-bottom: 20px;
}

#bgcolor1{
	width: 750px;
	position: relative;
}

#bgcolor1-image{
	width: 750px;
	height: 400px;
	z-index: 0;
}

.footer-section01{
	background: #232F3E;
	font-size: 15px;
	position: absolute;
	margin-top: -400px;
	margin-left: 100px;
	text-align: center;
	z-index: 1;
}


#fs01-01, #fs01-02, #fs01-03, #fs01-04{
	font-size: 1px;
	float: left;
	background: #232F3E;
	margin-left: -20px;
	margin-right: 30px;
}

#fs01-04{
	margin-left: -35px;
}


/* SECTION02 */


#bgcolor2{
	width: 750px;
	position: relative;
}

#bgcolor2-image{
	width: 750px;
	height: 550px;
	z-index: 0;
}

.footer-section02{
	margin-left: 140px;
	text-align: center;
	float: left;
	background: #232F3E;
	position: relative;
	margin-top: -720px;
}

#footer-sec2-hr{
	width: 1000px;
	overflow: hidden;
	margin-left: -200px;
}

#fs02-01, #fs02-02, #fs02-03, #fs02-04{
	text-align: center;
	float: left;
	background: #232F3E;
}


/* SECTION03 */


.footer-section03{
	transform: scale(0.9,0.9);
	font-size: 1px;
	float: left;
	background: #131A22;
	position: relative;
	text-align: left;
	right: -70px;
	position: absolute;
	margin-top: -550px;
}

#fs03-01, #fs03-02, #fs03-03, #fs03-04, #fs03-05, #fs03-06, #fs03-07{
	transform: scale(0.9,0.9);
	height: fit-content;
	float: left;
	font-size: 1px;
	margin-left: -3px;
	margin-right: -3px;
	width: 100px;
	overflow: hidden;
	background: #131A22;

}


/* SECTION 04 */


.footer-section04{
	left: -25px;
	text-align: center;
	font-size: 1px;
	width: 750px;
	overflow: hidden;
	float: left;
	background: #131A22;
	position: relative;
	padding: 50px;
	position: absolute;
	margin-top: -150px;
}